# Port server API Gateway
PORT=3000

# Kunci API rahasia untuk otentikasi request
API_KEY=gopay_secret_api_key_123456

# String QRIS Statis Merchant (Otomatis diambil saat login)
QRIS_STATIC=

# URL Webhook opsional untuk notifikasi pembayaran otomatis
WEBHOOK_URL=
